@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
:root {
  --navbar-desktop-height: 90px;
  --black: #000;
  --modal-z-index: 95;
  --navbar-z-index: 100;
  --navbar-toolbar-height: 27.1429px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  height: 150vh;
}

header#desktop-navigation {
  width: 100%;
  background-color: var(--black);
  z-index: var(--navbar-z-index);
  position: relative;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "menu logo icons";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: var(--navbar-desktop-height);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
}

.nav__menu, .nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--navbar-desktop-height);
}

.nav__menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

.nav__icons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icons;
}

.nav__icons path {
  stroke-width: 5px;
}

.nav__logo-wrapper {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
}

.nav__logo-link {
  position: relative;
  z-index: 200;
}

.nav__logo-img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mega-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mega-menu__main-content {
  min-width: 65%;
  padding: 2rem;
}

@media (max-width: 860px) {
  .mega-menu__main-content {
    min-width: 100%;
  }
}

.mega-menu__main-content, .mega-menu__supplementary-content {
  padding: 2rem;
}

.mega-menu__supplementary-content {
  border-left: 1px solid black;
  min-width: 35%;
}

@media (max-width: 860px) {
  .mega-menu__supplementary-content {
    display: none;
  }
}

.mega-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.mega-menu__title h4 {
  margin: 0;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.1rem;
}

.mega-menu__title .btn {
  font-size: .75rem;
  padding: .5rem;
  letter-spacing: 2px;
}

.mega-menu__item {
  width: 100%;
}

.mega-menu__item img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.mega-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.mega-menu__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.mega-menu__articles .mega-article {
  width: 50%;
}

.mega-menu__articles .mega-article__img-wrapper {
  position: relative;
  width: 100%;
  /* You can set any width */
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio (9 / 16 * 100 = 56.25) */
  overflow: hidden;
}

.mega-menu__articles .mega-article__featured-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Cover the entire container */
}

.mega-menu__articles .mega-article__title {
  font-size: clamp(0.8rem, 1rem, 1.25rem);
  font-family: 'Archivo black';
  text-transform: uppercase;
  margin-top: .5rem;
}

.mega-menu__item .menu-link {
  position: relative;
}

.mega-menu__item .menu-link::before {
  content: "";
  left: 0;
  width: 5px;
  height: 100%;
  background-color: green;
  position: absolute;
  opacity: 0;
}

.mega-menu__item .menu-link:hover {
  background-color: #f7f7f7;
  color: green;
}

.mega-menu__item .menu-link:hover::before {
  opacity: 1;
}

.mega-menu__item:hover .parent-menu-link {
  color: green;
  background-color: #f7f7f7;
}

.mega-menu__item:hover .parent-menu-link::before {
  opacity: 1;
}

.mega-menu__item:hover .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-links {
  position: relative;
  max-width: 33%;
  width: 100%;
}

@media (max-width: 1200px) {
  .menu-links {
    max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .menu-links {
    max-width: 100%;
  }
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
  position: relative;
}

.menu-link__chevron {
  width: 12.5px;
  height: 10px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  top: 50%;
}

.menu-link__chevron--right {
  right: 15px;
  -webkit-transition: right .3s ease-in-out;
  transition: right .3s ease-in-out;
}

.menu-link__chevron--right:hover {
  right: 10px;
}

.menu-link__chevron g {
  fill: black;
}

.menu-link:hover .menu-link__chevron--right {
  right: 10px;
}

.menu-link:hover .menu-link__chevron--right g {
  fill: green;
}

.parent-menu-link {
  font-family: 'Josefin Sans';
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
  border-left: 1px solid lightgrey;
}

@media (max-width: 560px) {
  .sub-menu {
    display: none !important;
  }
}

.sub-menu .menu-link {
  padding-left: 1.5rem;
}

.sub-menu[active], .sub-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-menu-item {
  width: 100%;
}

.sub-menu--bg-grey {
  background: #f7f7f7;
  padding: 1.5rem 0;
  border-left: 0;
  border-radius: 2px;
}

.sub-menu--bg-grey .mega-menu__title {
  padding-left: 1.5rem;
}

.sub-menu--bg-grey .mega-menu__title:not(:first-of-type) {
  margin-top: 1.5rem;
}

.sub-menu--1 {
  left: 100%;
}

.sub-menu--2 {
  left: 200%;
}

@media (max-width: 1200px) {
  .sub-menu--2 {
    display: none !important;
  }
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  font-size: 14px;
}

.menu-item:first-of-type .menu-item__link {
  padding-left: 10px;
}

.menu-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
}

.menu-item__mega-menu {
  display: none;
  background-color: #fff;
  position: absolute;
  min-height: 550px;
  top: calc(var(--navbar-desktop-height) + var(--navbar-toolbar-height) - 30px);
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  overflow-y: scroll;
}

.menu-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  padding: 0 1rem;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  z-index: 150;
}

.menu-item__link::before {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.menu-item__link:hover {
  color: #fff;
}

.menu-item__link:hover::before {
  opacity: 1;
}

.menu-item__link:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-item__link svg path {
  fill: #fff;
}

.menu-item[active] .menu-item__mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item[active] .menu-item__link::before {
  opacity: 1;
}

.menu-item[active] .menu-item__chevron {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colorModalBg);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 95;
  display: none;
}

#modal-overlay[open] {
  display: block;
}
/*# sourceMappingURL=styles.css.map */